* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Roboto, Arial, sans-serif;
}

header, 
footer {
    background-color: royalblue;
    color: aliceblue;
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 5px;
}

form {
    margin: 20px 0;
    background-color: azure;
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

fieldset.radio {
    margin: 1rem 0;
    border: none;
    border-radius: 6px;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;    
}

fieldset.radio label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset.checkbox {
    margin: 1rem 0;
    border: none;
    border-radius: 6px;
    padding: .5rem;
    display: grid;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 5px;
}

.checkbox p {
    font-style: italic;
    margin-bottom: .5rem;
    margin-top: -.5rem;
}

select,
input[type="date"],
textarea,
input[type="text"] {
    background-color: white;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

textarea {
    margin-bottom: 1rem;
    height: 150px;
}

.inline-label {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.inline-label p {
    margin: 0;
    font-size: .8rem;
    color: navy;
}

input[type="submit"] {
    border: none;
    background-color: #999;
    color: aliceblue;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 2%;
    margin-top: 1rem;
    margin-bottom: -1rem;
    box-shadow: 1px 1px 4px #999;
}
