:root {
    --heading-font: "Kaushan Script", cursive;
    --body-font: "Lato", sans-serif;
    --background-color: #F5F5F5;
    --primary-color: #40B5B5;
    --secondary-color: #FF9B70;
    --font-color: #1A1A1E;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}






.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

a img {
    cursor: pointer;
}

.highlight {
    color: #FDFF99;
}