html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

main {
    background-color: #999;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

main h1 {
    background-color: #999;
    grid-row: 2 /3;
    font-size: 110%;
    padding-left: 10px;
}

body aside {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px
}

header {
    background-color: #333;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

header h1 {
    background-color: #333;
    font-size: 100%;
    padding-left: 15px;
    padding-bottom: 50px;
}

header nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

header a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
}

footer h1 {
    background-color: #333;
    font-size: 100%;
    padding-bottom: 50px;
}