:root {
    --primary-color: #9B1C7B;
    --secondary-color: #1C0118;
    --font1-color: #FFF8F0;
    --font2-color: #1F2421;
    --heading-font: "Electrolize", sans-serif;
    --body-font: "Oswald", sans-serif;
    --border: 2px solid #230616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

#course-title {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--font1-color);
    font-family: var(--heading-font);
    font-size: 150%;
    padding: 20px;
    width: 100%;
}

main {
    display: grid;
    width: 1000px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    justify-self: center;
}

main h1 {
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 15px;
    font-family: var(--heading-font);
    font-size: 250%;
}

main section {
    grid-row: 2 / 3;
}

img {
    width: 200px;
    margin: 8px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

header nav {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header nav ul li {
    margin: 0 1rem;
}

header nav a {
    text-decoration: none;
    color: var(--font1-color);
    font-family: var(--heading-font);
}

nav a:hover {
    text-decoration: underline;
}

.card {
    display: grid;
    border: var(--border);
    border-radius: 8px;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    color: var(--font2-color);
}

.card p {
    margin: 15px;
}

.card h2 {
    background-color: var(--primary-color);
    color: var(--font1-color);
    text-align: center;
    font-family: var(--heading-font);
    padding: 5px;
    height: 50px;
    padding-top: 10px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.card h3 {
    grid-column: 1 / 4;
    padding: 0 150px;
    border-bottom: 2px dotted var(--secondary-color);
    justify-self: center;
    margin-bottom: 5px;
}

.card h4 {
    text-align: center;
    font-weight: 350;
    padding-bottom: 8px;
}

.card .me {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.card .me img {
    grid-column: 3 / 4;
}

.card .state {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.card .state img {
    grid-column: 1 / 2;
}

.card .state p {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.card .resource-links {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    margin-left: 70px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    background-color: var(--primary-color);
    color: var(--font1-color);
    font-family: var(--heading-font);
    padding: 15px;
}

.highlight {
    color: #FDFF99;
}