@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        place-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
    }
}